{% load static %}

<!-- <img src="{% static 'images/test.jpg' %}"> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" />
    <title>First Django Project</title>
  </head>
  <body>
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div id="profile-wrapper" class="card card-body h-100 border-info">
            <img id="profile-pic" src="{% static 'images/test.jpg' %}" />
            <hr />
            <h4>Hi, I'm Nicole</h4>
            <p>I like bacon pancakes</p>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card card-body h-100 border-info">
            <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit</h4>
            <hr />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae
              voluptate recusandae perferendis veniam fugit, corrupti fuga magni
              cupiditate, alias dolor voluptatibus consequatur beatae, assumenda
              ex ut odit culpa quas maiores. Iste illum necessitatibus voluptas
              obcaecati perferendis, dolores tenetur cumque, nam doloribus
              numquam quasi doloremque nihil deleniti soluta, quaerat harum qui
              enim officiis possimus. Minima laudantium voluptates id
              consectetur vel omnis? Mollitia quasi facilis obcaecati temporibus
              recusandae, illum ullam tempore ratione velit corrupti porro
              perferendis doloribus, necessitatibus, explicabo dolorem eaque
              totam iure rem quae eum.
            </p>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <div class="card card-body h-100">
            <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit</h4>
            <hr />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Reiciendis possimus odio maiores vel accusantium ex cum in
              voluptatem excepturi facilis, adipisci delectus porro consequuntur
              modi aliquam laudantium similique nam ducimus? Eius similique
              facere officiis hic, eveniet provident et, exercitationem, beatae
              voluptatum quo quasi expedita repellat distinctio est explicabo
              delectus fugit labore facilis! Voluptatibus fugit quos ipsum
              perferendis impedit porro architecto.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-body h-100">
            <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit</h4>
            <hr />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Reiciendis possimus odio maiores vel accusantium ex cum in
              voluptatem excepturi facilis, adipisci delectus porro consequuntur
              modi aliquam laudantium similique nam ducimus? Eius similique
              facere officiis hic, eveniet provident et, exercitationem, beatae
              voluptatum quo quasi expedita repellat distinctio est explicabo
              delectus fugit labore facilis! Voluptatibus fugit quos ipsum
            </p>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <div class="card card-body h-100">
            <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit</h4>
            <hr />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Reiciendis possimus odio maiores vel accusantium ex cum in
              voluptatem excepturi facilis, adipisci delectus porro consequuntur
              modi aliquam laudantium similique nam ducimus? Eius similique
              facere officiis hic, eveniet provident et, exercitationem, beatae
              voluptatum quo quasi expedita repellat distinctio est explicabo
              delectus fugit labore facilis! Voluptatibus fugit quos ipsum
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-body h-100">
            <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit</h4>
            <hr />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Reiciendis possimus odio maiores vel accusantium ex cum in
              voluptatem excepturi facilis, adipisci delectus porro consequuntur
              modi aliquam laudantium similique nam ducimus? Eius similique
              facere officiis hic, eveniet provident et, exercitationem, beatae
              voluptatum quo quasi expedita repellat distinctio est explicabo
              delectus fugit labore facilis! Voluptatibus fugit quos ipsum
            </p>
          </div>
        </div>
      </div>
      <br />
    </div>
  </body>
</html>
